:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  user-select: none;
}

button {
  margin: auto;
}

table {
  margin: auto;
  width: 50%;
}

td {
  border: 1px solid light-dark(black, white);
  border-radius: 1em;
}

#about-modal,#config-modal,#stats-modal {
  font-weight: normal;
  overflow-y: scroll;
  padding-top: 0;
}

#about-modal hr,#config-modal hr,#stats-modal hr {
  width: 20vw;
}

#about-modal h2,#about-modal p {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 40vw;
}

#admin-panel {
  bottom: 0;
  height: 3em;
  position: absolute;
  right: 0;
}

#config-modal div,#config-modal h1,#config-modal h2,#config-modal > p {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 40vw;
}

#dice-tray {
  font-size: 5em;
  height: 1em;
  margin: auto;
  width: 1em;
}

#game {
  display: table;
  height: 100%;
  width: 100%;
}

#owl {
  position: absolute;
  transition: transform 1s ease;
  z-index: -1;
}

#right-panel {
  height: calc(97.5vh - 3em);
  overflow-y: auto;
  vertical-align: top;
}

.blur {
  filter: blur(10px) saturate(33%);
}

.game-piece {
  background-color: transparent !important;
  border: 1px solid light-dark(black, white);
  border-radius: 1em;
  bottom: 10px !important;
  cursor: default;
  font-size: 2em;
  height: 1.5em !important;
  margin: auto;
  pointer-events: all;
  width: 1.5em !important;
}

.highlight-box {
  box-shadow: light-dark(green, lightgreen) 0 0 1em;
}

.leader-line {
  z-index: -10;
}

.reverse {
  transform: scale(-1, 1);
}

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
