body {
  text-align: center;
  user-select: none;
}

button {
  margin: auto;
}

table {
  margin: auto;
  width: 50%;
}

td {
  border: 1px solid black;
  border-radius: 1em;
}

#dice-tray {
  font-size: 5em;
  height: 1em;
  margin: auto;
  width: 1em;
}

.game-piece {
  background-color: transparent !important;
  border: 1px solid black;
  border-radius: 1em;
  bottom: 10px !important;
  cursor: default;
  font-size: 2em;
  height: 1em !important;
  pointer-events: all;
  width: 1em !important;
}

.highlight-box {
  box-shadow: green 0 0 1em;
}

.leader-line {
  z-index: -10;
}
