:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  text-align: center;
  user-select: none;
}

button {
  margin: auto;
}

table {
  margin: auto;
  width: 50%;
}

td {
  border: 1px solid light-dark(black, white);
  border-radius: 1em;
}

#dice-tray {
  font-size: 5em;
  height: 1em;
  margin: auto;
  width: 1em;
}

#owl {
  position: absolute;
  transition: transform 1s ease;
  z-index: -1;
}

.game-piece {
  background-color: transparent !important;
  border: 1px solid light-dark(black, white);
  border-radius: 1em;
  bottom: 10px !important;
  cursor: default;
  font-size: 2em;
  height: 1.5em !important;
  margin: auto;
  pointer-events: all;
  width: 1.5em !important;
}

.highlight-box {
  box-shadow: light-dark(green, lightgreen) 0 0 1em;
}

.leader-line {
  z-index: -10;
}
